@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Ubuntu&display=swap');

body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    margin-top: 50px;
    font-family: 'Caprasimo', cursive;
    font-size: 50px;
}

form {
    margin-top: 50px;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

.error {
    color: red;
    margin-top: 10px;
}

.weather-details {
    margin-top: 50px;
}

.weather-details img {
    width: 100px;
}

.weather-details p {
    font-size: 18px;
    font-family: 'Ubuntu', sans-serif;
}

span{
    font-weight: 900;
}

   /* Custom table styling */
   table {
    border: 1px solid #ddd;
    border-collapse: collapse;
    width: 100%;
    margin: auto;
}

th, td {
    border: 1px solid #ddd;
    text-align: center;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
    color: #444;
    font-size: 30px;
    font-family:'Ubuntu', sans-serif;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr>td:nth-child(odd){
    color: purple
}

tr:hover {
    background-color: #f5f5f5;
}
