<!DOCTYPE html>
<html>
<head>
    <title>Weather Report</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    
</head>
<body>
    <h1>{{ weather_data.city }}</h1>
    <div class="weather-details">
        <img src="http://openweathermap.org/img/wn/{{weather_data.icon}}.png" alt="Weather Icon">
        <table center="1">
            <tr>
                <th>Property</th>
                <th>Value</th>
            </tr>
            <tr>
                <td>Longitude</td>
                <td>{{ weather_data.longitude }}</td>
            </tr>
            <tr>
                <td>Latitude</td>
                <td>{{ weather_data.latitude }}</td>
            </tr>
            <tr>
                <td>Weather</td>
                <td>{{ weather_data.main_weather }}, more precisely {{ weather_data.description }}</td>
            </tr>
            <tr>
                <td>Temperature</td>
                <td>{{ weather_data.temperature }}° C or {{ weather_data.tempC }}K</td>
            </tr>
            <tr>
                <td>Feels like</td>
                <td>{{ weather_data.feels_like }}° C or {{ weather_data.feelC }}K</td>
            </tr>
            <tr>
                <td>Sunrise</td>
                <td>{{ weather_data.sunrise }}</td>
            </tr>
            <tr>
                <td>Sunset</td>
                <td>{{ weather_data.sunset }}</td>
            </tr>
            <tr>
                <td>Pressure</td>
                <td>{{ weather_data.pressure }} hPa</td>
            </tr>
            <tr>
                <td>Humidity</td>
                <td>{{ weather_data.humidity }}%</td>
            </tr>
            <tr>
                <td>Wind Speed</td>
                <td>{{ weather_data.wind_speed }} m/s</td>
            </tr>
            <tr>
                <td>Visibility</td>
                <td>{{ weather_data.visibility }} meters</td>
            </tr>
            <tr>
                <td>Cloudiness</td>
                <td>{{ weather_data.cloudiness }}%</td>
            </tr>
            <tr>
                <td>Rain (last 1 hour)</td>
                <td>{{ weather_data.rain }} mm</td>
            </tr>
            <tr>
                <td>Snow (last 1 hour)</td>
                <td>{{ weather_data.snow }} mm</td>
            </tr>
        </table>
    </div>
</body>
</html>
